{% load static %}
<!-- Footer Section Start -->
<footer id="footer" class="bg-light footer-light">
  <div class="container container-1000">
    <div class="row">
      <div class="col-lg-3">
        <!-- <p><span class="icon-uilove icon-uilove-realestate"></span></p> -->
        <img class="logo" src="{% static "core/img/icons/new_way-bg.png"%} " alt="logo">
        <address class="mb-3">
          <strong>New Way Developers.</strong><br>
          Nairobi CBD<br>
          Kenya<br>
          <abbr title="Phone">P:</abbr> (+254) 726 610840
        </address>
        <div class="footer-social mb-4"><a href="#" class="ml-2 mr-2"><span class="fa fa-twitter"></span></a> <a
            href="#" class="ml-2 mr-2"><span class="fa fa-facebook"></span></a> <a href="#" class="ml-2 mr-2"><span
              class="fa fa-instagram"></span></a></div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="footer-links">
          <ul class="list-unstyled">
            <li class="list-title"><a href="#">About</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="footer-links">
          <ul class="list-unstyled">
            <li class="list-title"><a href="#">Links</a></li>
            <li><a href="#">For Rent</a></li>
            <li><a href="#">Land</a></li>
            <li><a href="#">Agents</a></li>
            <li><a href="#">Property Guides</a></li>
            <li><a href="#">Jobs</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="footer-links">
          <ul class="list-unstyled">
            <li class="list-title"><a href="#">Help</a></li>
            <li><a href="#">Book Property</a></li>
            <li><a href="#">FAQ</a></li>

          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="text-lg-right ml-lg-2">
          <form>
            <div class="list-title">Subscribe</div>
            <div class="input-group input-group-lg">
              <input type="text" name="email" class="form-control form-control-lg subscribe-input" placeholder="Email">
              <div class="input-group-append ml-0">
                <button class="btn subscribe-button" type="button"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="footer-credits d-lg-flex justify-content-lg-between align-items-center">
      <div>Powered by <strong>newwaydevelopers</strong></div>

      <div>© 2020 newwaydevelopers. All Rights Reserved</div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->